<center><h1>HISTORIAL CURRICULAR</h1></center>
<%#@matricula_periodo_anterior.each do |mpa| %>
<%if @bandera == "pertenece"%>
  NIVEL <%= @matricula_periodo_anterior.curso.nivel.nivel_numero %><br/>
<%end%>
  
<%#end%>
